.header__logo {
  max-width: 880px;
  margin: 45px 0 0;
  height: 33px;
  padding-bottom: 41px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-top: 28px;
    padding-bottom: 31.6px;
  }
}
