.profile__text {
  align-self: center;
  margin-left: 30px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 18px;
  row-gap: 10px;
}

@media screen and (max-width: 750px) {
  .profile__text {
    margin: 26px 0 0 24px;
  }
}

@media screen and (max-width: 380px) {
  .profile__text {
    column-gap: 10px;
    row-gap: 7px;
  }
}
