.profile__avatar-container {
  position: relative;
  max-width: 120px;
  min-height: 120px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.profile__avatar-container::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 120px;
  height: 120px;
  opacity: 0;
  border-radius: 50%;
  background: url(../../../images/avatar-pen.png) center no-repeat rgba(0, 0, 0, 0.8);
  transition: opacity .35s linear;
}

.profile__avatar-container:hover::before {
  cursor: pointer;
  opacity: 1;
}
