.popup__container {
  background-color: white;
  width: 430px;
  border-radius: 10px;
  position: fixed;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
  .popup__container {
    max-width: 300px;
    margin: 0 10px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
    margin: 0 19px;
  }
}
